body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/imagem/background.jpg'); /* Coloque o nome da sua imagem aqui */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin: 20px 0;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 12px);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
